.title {
  text-align: center;

  h1 {
    font-size: 3em;
    margin: 0.1em auto -0.25em;
  }

  span {
    font-style: italic;
  }
}

.content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  text-align: center;
  margin-top: 5em;

  p {
    color: #353535;
    font-style: italic;
    font-size: 0.75em;
    margin-top: 0;
  }

  img {
    max-width: 4em;
    margin: auto 1em;
    opacity: 0.25;
  }
}

button {
  margin-left: 1em;
  margin-right: 1em;
}

.secrets-form {
  text-align: center;

  mat-card {
    text-align: left;
    display: inline-block;

    .center {
      text-align: center; // There has got to be a better way of doing this...
    }
  }
}

#secret-field {
  min-width: 100%;
}

#key-field {
  width: 8em;
}
