<div class="content-container">
  <div class="content">
    <div class="title">
      <h1>Secret 31</h1>
      <span>An app for checking secrets.</span>
    </div>

    <h2>Motivation</h2>
    <p>We all know some secrets; some of them belong to us, some of them belong to others. It's difficult to
      talk to someone about it if you aren't sure whether they know the same things, but you can't ask
      directly for fear of sharing something you shouldn't.</p>

    <p>This site is designed to fix that, aimed at anyone who wants to talk about something
      confidential, help a mutual friend, or just get something off their chest. Using strong encryption,
      shared one-time keys, and a tiny bit of natural language processing, this site can act as an
      intermediary, for the sake of everyone's sanity.</p>

    <div class="secrets-form">
      <mat-card>
          <mat-card-title>Submit/Analyze Secrets</mat-card-title>
        <form>
          <mat-form-field id="secret-field">
            <input matInput placeholder="Secret"
                   name="secret"
                   id="secret"
                   [formControl]="secretControl"
                   [(ngModel)]="secret"
                   required>
          </mat-form-field>
          <br>
          <mat-form-field id="key-field">
            <input matInput placeholder="Key"
                   name="key"
                   id="key"
                   [formControl]="keyControl"
                   [(ngModel)]="key">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="add()"
                  [disabled]="keyControl.errors || secretControl.errors">Add to secret with key</button>
          <button mat-raised-button color="primary" (click)="new()"
                  [disabled]="secretControl.errors || !keyControl.errors">Create new secret</button>
          <br>
          <div class="center">
            <button mat-raised-button color="warn" (click)="anl()"
                  [disabled]="keyControl.errors">Analyze secrets</button>
          </div>
        </form>
      </mat-card>
    </div>

    <h2>Instructions</h2>
    <p>This can be done on one computer or two, as long as you have a partner it doesn't matter. Make sure
      to agree upon what you're discussing before submitting secrets!</p>

    <ol>
      <li>Write your secret in the "Secret" box and click "Create new secret".</li>
      <li>You will be given a 6-character key. Give it to your partner.</li>
      <li>Your partner should enter the key in the "Key" box, write their secret in the secret box, and click
      "Add to secret with key"</li>
      <li>Either partner can now enter the key in the box and press "Analyze secrets". <b>You can only do this
        once!</b> To preserve your privacy, we delete your secrets immediately after analysis.</li>
    </ol>

    <h2>Writing good secrets</h2>

    <p>Humans are very good at analyzing text, but machines aren't. To write good secrets that are easy
    for this site to understand, here are some tips:</p>

    <ul>
      <li><b>Write short secrets.</b> Secret size isn't limited, but you might get a closer match than
      you'd expect were it not for the extra words.</li>
      <li><b>Use keywords and synonyms.</b> Your secrets are analyzed by keyword, so arrange with your
      partner to use keywords. Provide synonyms, e.g. for "man" also give "male".</li>
      <li><b>Use uncomplicated secrets.</b> This may be tricky to arrange with your partner, but it's
      a good idea to put only <i>one</i> major piece of information in your secret.</li>
      <li><b>Avoid proper nouns.</b> Proper nouns like names will be mistaken for keywords.</li>
    </ul>

    <h2>How it works</h2>

    <p>Secrets are analyzed in different ways: absolute comparison, word overlap, and keyword overlap.
    In the first case, your two secrets are simply compared for absolute equality, so even a missing
    comma will throw it off. Word overlap is about how many words the two have in common, in any
    order, e.g. "I am John" and "I am Jane" have an overlap of three, or 80% as there are five
    distinct words. Finally, keyword overlap is the same procedure, but without "stop words", such
    as "I", "a", "the", etc. For example, the two previous phrases become "john" and "jane",
    respectively, with an overlap of 0%.</p>


  </div>
  <footer>
    <a href="https://ravana.dyn.wpi.edu"><img src="assets/gtva.png"></a>
    <p (click)="h()">"Let's make a deal... I'll spare you the ends-justify-the-means speech
      and you'll spare me the we-must-do-what's-right speech."</p>
  </footer>
</div>
