<div class="content-container">
  <div class="content">
    <div class="title">
      <h1>Secret 31</h1>
      <span>An app for checking secrets.</span>
    </div>

    <h2>Motivation</h2>
    <p>We all know some secrets; some of them belong to us, some of them belong to others. It's difficult to
      talk to someone about it if you aren't sure they know the same things, but you can't ask directly for
      fear of sharing something you shouldn't.</p>

    <p>This site is designed to fix that, aimed at anyone who wants to talk about something
      confidential, help a mutual friend, or just get something off their chest. Using strong encryption,
      shared one-time keys, and a tiny bit of natural language processing, this site can act as an
      intermediary, for the sake of everyone's sanity.</p>
  </div>
  <footer>
    <a href="https://ravana.dyn.wpi.edu"><img src="assets/gtva.png"></a>
    <p (click)="sha1()">&quot;Let's make a deal... I'll spare you the ends-justify-the-means speech
      and you'll spare me the we-must-do-what's-right speech.&quot;</p>
  </footer>
</div>
