<h2>Secrets Analysis</h2>
<p>Your data has been processed; we've determined that:</p>
<ul>
  <li>Your secrets are<span *ngIf="!data.direct_comparison"> not </span> completely identical.</li>
  <li><b>{{data.word_overlap}} word(s)</b> are the same.</li>
  <li><b>{{data.percent_overlap | number:'.0-1'}}% of words</b> total are the same.</li>
</ul>
<p><i>However...</i></p>
<ul>
  <li><b>{{data.keyword_overlap}} keyword(s)</b> overlap.</li>
  <li><b><span *ngIf="data.percent_overlap> data.keyword_percent_overlap">Only </span>
    {{data.keyword_percent_overlap | number: '.0-1'}}% of keywords</b> total overlap.</li>
</ul>

<h3>How should I interpret these results?</h3>

<p>Don't worry if your secrets aren't completely identical, that's extremely rare! It just means that
  maybe your partner didn't use the exact same wording, that's all.</p>

<p>You should pay
special attention to the keyword analysis -- it's a primitive analysis, but if you used keyword-heavy
secrets it should be a good indicator of how much of your information matches up with your partner's.
Briefly, "overlap" is when your partner's secret has an occurrence of the same word yours has; the
overlap percentage is the fraction of overlapped words vs. the total number of distinct words used. So, if
you both dropped a certain name or key word, that would show up as keyword overlap.</p>

<p><b>Oh, and in case you're worried about your secrets getting out -- don't worry, they've already been
deleted.</b></p>

<div class="center">
  <button mat-raised-button color="warn" (click)="close()">Exit analysis</button>
</div>
